<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
    
    <resultMap type="com.education.framework.model.comment.Comment" id="queryCommentResult">
    	<result property="id" column="id"/>
    	<result property="teacherId" column="teacher_id"/>
    	<result property="content" column="comment_content"/>
    	<result property="studentId" column="student_id"/>
    	<result property="commentTime" column="comment_time"/>
    	<result property="status" column="status"/>
    </resultMap>
    
    <select id="queryCommentById" parameterType="com.education.framework.model.comment.vo.CommentVo" resultType="com.education.framework.model.comment.vo.CommentVo">
    	select  t.id,
				t.teacher_id as teacherId,
				t.comment_content as commentContent,
				t.student_id as studentId,
		    	date_format(t.comment_time ,'%y-%m-%d %h:%i:%s') as commentTime,
		    	t.status,
				s.student,
				e.teacher_name as teacherName
        from t_comment t,t_student s,t_teacher e
    	
    	<where>
    	 		t.student_id =s.id and t.teacher_id = e.id
	    	 <if test="id!=null and id!=''"> AND t.id=#{id}</if>
	    	 <if test="order!=null and order!=''"> AND t.comment_content like #{commentContent}</if>
	    	 <if test="regTime!=null"> AND t.comment_time = date_format(#{commentTime} ,'%Y-%m-%d %H:%i:%s')</if>
    	</where> 
    </select>
    
    <select id="findAllComment" parameterType="java.util.Map" resultType="com.education.framework.model.comment.vo.CommentVo">
        select  t.id,
        	    t.teacher_id as teacherId,
				t.comment_content as content,
				t.student_id as studentId,
		    	date_format(t.comment_time ,'%Y-%m-%d %H:%i:%s') as commentTime,
		    	t.status,
				us.user_name as studentName,
				ut.user_name as teacherName
        from t_comment t INNER JOIN t_user us on t.student_id = us.id  
        inner join t_user ut on t.teacher_id = ut.id
		 <where>
		 	t.status = 'Y'
	    	 <if test="keyword != null and keyword != ''">
	    	   and (
	    	 	instr(us.user_name, #{keyword}) > 0 
	    	 	or instr(ut.user_name, #{keyword}) > 0
	    	 	or instr(t.comment_content, #{keyword}) > 0)
	    	 	</if>
 		</where> 
        order by t.id desc
        <if test="rowStart != null and pageSize != null">
         limit ${rowStart}, ${pageSize}
        </if>
    </select>
   
     <select id="findCommentCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(t.id)
        from t_comment t INNER JOIN t_user us on t.student_id = us.id  
        inner join t_user ut on t.teacher_id = ut.id
       <where>
       		t.status = 'Y'
	    	 <if test="keyword != null and keyword != ''">
	    	 	 and (instr(us.user_name, #{keyword}) > 0 
	    	 	or instr(ut.user_name, #{keyword}) > 0
	    	 	or instr(t.comment_content, #{keyword}) > 0 )
	    	 </if>
 		</where> 
    </select>
    
    <insert id="insertComment" parameterType="com.education.framework.model.comment.Comment">
    	insert into t_comment
    	(id
    	<if test="teacherId">,teacher_id</if>
    	<if test="commentContent">,comment_content</if>
    	<if test="studentId">,student_id</if>
    	<if test="commentTime">,comment_time </if>
    	<if test="status">,status</if>
    	)
    	values(#{id}
    	<if test="teacherId">,#{teacherId}</if>
    	<if test="commentContent">,#{commentContent}</if>
    	<if test="studentId">,#{studentId}</if>
    	<if test="commentTime">,date_format( #{commentTime},'%y-%m-%d %h:%i:%s')</if>
    	<if test="commentTime">,#{commentTime}</if>
    	 )
    </insert>
    
    <update id="updateCommentStatusById" parameterType="java.lang.String">
    	update t_comment t set t.status = #{status} where t.id = #{id} 
    </update>
</mapper>